.body{
    height: 100%;
    width: 100%;
    background-color: white;
    align-items: center;
}

.form-container{
    height: 100%;
    width: 100%;
}

.form{
    width: 65%;
    position: absolute;
    left: 20%;
    padding-top: 5vh;
    overflow: auto;

}

button{
    margin: 0 5px;
}