.jumbotron {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
    background-color: #f0f3f5;
    width: fit-content;
    height: 80%;
    border-radius: 10px;
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 25px 30px;
    margin: 30px 0px;
    text-align: left;
    height: fit-content;
    border: 0.2px solid rgba(128, 128, 128, 0.158);
    box-shadow: 0px 0.5px rgba(128, 128, 128, 0.288);
}

.btn-row {
    float: right;
}

.btn {
    margin: 0 5px;
}

h2 {
    color: rgb(14, 70, 155);
    padding-bottom: 5px;
    font-weight: bolder;
    text-decoration: underline;
}

.label {
    font-size: 18px;
    color: rgb(46, 46, 93);
    font-weight: 500;
}